
#Project files.
*.iml
.idea

#Used for testing/debugging MultiDeploy.
testdeploy
testrepo
testconfig

#Do not track config files.
#Remove this line if you want to fork and include configuration files.
config
*-configMD.php

#This folder is used to store SSH keys
ssh
